input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
.togglePassword{
  position: absolute;
  top: 65%;
  right: 1rem;
  color: #666;
  z-index: 9999;
  user-select: none;
  cursor: pointer;
  font-size: small;
}